{% extends "::base.html.twig" %}

{% block title %}TP4 - Biblios - Auteur{% endblock %}

{% block body %}
<h1>Bienvenue sur la page des auteurs</h1>
<hr>
<p><strong><a href="{{ path('author_add_page') }}">> Ajouter un auteur</a></strong></p>
<hr>
<h2>Liste des auteurs</h2>

<table class="table table-bordered table-striped">

  <tr>
    <th>Prénom</th>
    <th>Nom</th>
    <th>Année de naissance</th>
    <th>Pays</th>
  </tr>

  {% for a in authors %}
  <tr>
    <td>{{ a.firstname }}</td>
    <td>{{ a.lastname }}</td>
    <td>{{ a.birthYear }}</td>
    <td>{{ a.country }}</td>
  </tr>
  {% endfor %}

</table>

{% endblock %}
